@(flight:Option[Flight] = None, planNumber:Int,tripNumber:Int,flightNumber:Int = 0, open:Boolean = true, hidden:Boolean = true)

<div class="flight @if(hidden){ temp-hide }" data-number="@{flightNumber+1}">

	<input type="hidden" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].flight_id" value="@flight.map(_.id)">
	<input type="hidden" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].flight_number" value="@flightNumber">

    <div class="accordion-toggle @if(open){ open }else{ collapsed }" data-toggle="collapse">Flight #<span class="flight-number-id">@{flightNumber+1}</span></div>

    <div class=" accordion-collapse collapse @if(open){ in }">

        <div class="trip-content">

            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="name"> Departure Location </label>
                    <input class="form-control input-lg" type="text" id="depart_location" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].depart_location" value="@flight.map(_.depart_location)" placeholder="e.g Orlando - FL">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name"> Departure Date </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].depart_date" value="@flight.map(_.depart_date)"  type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label for="name"> Departure Time </label>
                    <div class="time-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="HH:mm PP" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].depart_time" value="@flight.map(_.depart_time)"  type="text"></input>
                        <i class="input-date-icon glyphicons clock"></i>
                    </div>
                </div>
            </div>

            <div class="row">
		        <div class="col-md-12 form-group">
		            <label for="name"> Arrival Location </label>
		            <input class="form-control input-lg" type="text" id="arrival_location" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].arrival_location" value="@flight.map(_.arrival_location)" placeholder="">
		        </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name"> Arrival Date </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].arrival_date" value="@flight.map(_.arrival_date)" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label for="name"> Arrival Time </label>
                    <div class="time-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="HH:mm PP" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].arrival_time" value="@flight.map(_.arrival_date)"  type="text"></input>
                        <i class="input-date-icon glyphicons clock"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name"> Airline </label>
                    <input type="text" class="form-control input-lg" type="text"  name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].airline" value="@flight.map(_.airline)">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="name"> Flight Number </label>
                    <input type="text" class="form-control input-lg" type="text"  name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].number" value="@flight.map(_.number)">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="name"> Seat </label>
                    <input type="text" class="form-control input-lg" type="text"  name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].seat" value="@flight.map(_.seat)">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name"> Confirmation Number </label>
                    <input class="form-control input-lg" type="text" id="name" name="itinerary_plans[@planNumber].trip_plans[@tripNumber].flights[@flightNumber].confirm_num" value="@flight.map(_.confirm_no)" placeholder="">
                </div>
            </div>

        </div>

    </div>

</div>