@(clientRequest:Client_Request)(implicit user:Option[User])
<div class="plans">

    @for((itineraryPlan,index) <- clientRequest.itinerary.itineraryPlans.zipWithIndex){
        @plan( plan = Some(itineraryPlan), hidden = false )
    }

</div>

<div class="row">
    <div class="col-sm-12 form-group centralize">
        <div class="btn btn-grove-one btn-lg add-response-plan-action" data-parent="body" data-target=".plans" data-url="@routes.TravelPlanner.responsePlanView">
            <i class="glyphicons plus"></i> Add another plan </div>
    </div>
</div>


