@()(implicit user:Option[User])
@main(pageTitle = "Travel Planner") {

    <div class="widewrapper">
        <div class="container content">
            <div class="row">

                <section class="col-md-8 faq">
                    <h2> Travel plan for Miranda Software on 16/03/2014</h2>
                    <form action="#" method="get" accept-charset="utf-8" class="clearfix client-response-form">

                        @travelPlan()

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Comments </label>
                                <textarea class="form-control " id="message" name="message" rows="5"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-grove-one btn-xlg btn-bold pull-right"> Submit Response </button>

                    </form>
                </section>

                @views.html.RightSidebar.contactInfo()

            </div>
        </div>
    </div>
}