@(clientRequest:Client_Request)(implicit user:Option[User])
@import views.html.helper._
@main(pageTitle = "Travel Planner") {

    <div class="widewrapper @if(user.isDefined && !user.get.isAdmin ){readonly-state}" >
        <div class="container content">
            <div class="row">

                <section class="col-md-8 faq">
                    <h2> Travel plan for @clientRequest.user_id.name on @clientRequest.creationDate.format("MM/dd/yyyy")</h2>

                    @form(routes.TravelPlanner.submitItinerary) {

                        <input type="hidden" name="request_id" value="@clientRequest.id">

                        @travelPlan(clientRequest)

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Comments </label>
                                <textarea class="form-control " id="message" name="comments" rows="5">@clientRequest.itinerary.comments</textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-grove-one btn-xlg btn-bold pull-right"> Submit Response </button>

                    }

                </section>

                @views.html.RightSidebar.contactInfo()

            </div>
        </div>
    </div>
}