@()(implicit user:Option[User])
@import views.html.helper._
@main(pageTitle = "Travel Planner") {

    <div class="widewrapper">
        <div class="container content">
            <div class="row">

                <section class="col-md-8 faq">
                    <h2> Travel plan for Miranda Software on 16/03/2014</h2>
                    @form(routes.TravelPlanner.submitItinerary) {
                    <form action="#" method="get" accept-charset="utf-8" class="clearfix client-response-form">
                        <input type="hidden" name="request_id" value="d5eb1a4b-c1b6-11e3-9385-8d979a11c81f-fa11f61b">
                        @travelPlan()

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Comments </label>
                                <textarea class="form-control " id="message" name="comments" rows="5"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-grove-one btn-xlg btn-bold pull-right"> Submit Response </button>

                    </form>
                </section>
                }
                @views.html.RightSidebar.contactInfo()

            </div>
        </div>
    </div>
}