@()
@main(pageTitle = "Dashboard") {

    <div class="widewrapper dashboard">
        <div class="container content">
            <div class="row">

                <section class="col-md-6 col-md-offset-1 with-margin empty-dashboard">

                    <div class="row ">
                        <div class="col-md-10 centralize">


                        <div class="row icon">
                            <i class="glyphicons warning_sign "></i>
                        </div>

                        <div class="row">
                            <h1> It seems that currently you don't have any travel plans. </h1>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="btn btn-grove-one btn-lg"><i class="glyphicons plus"></i> Add travel request </div>
                        </div>

                        </div>

                    </div>

                </section>

                @views.html.RightSidebar.contactInfo()

            </div>
        </div>
    </div>
}