@()(implicit user:Option[User])
@main(pageTitle = "My Travel Plans") {

    @user.map{ currentUser =>
      <div class="widewrapper dashboard">
        <div class="container content">
            <div class="row">

                @if(currentUser.travelPlans.isEmpty){
                    <section class="col-md-6 col-md-offset-1 with-margin empty-dashboard">

                        <div class="row ">
                            <div class="col-md-10 centralize">


                                <div class="row icon">
                                    <i class="glyphicons warning_sign "></i>
                                </div>

                                <div class="row">
                                    <h1> It seems that currently you don't have any travel plans. </h1>
                                </div>

                                <hr/>

                                <div class="row">
                                    <a href="@routes.Application.travelPlanner()"><div class="btn btn-grove-one btn-lg"><i class="glyphicons plus"></i> Add travel request </div></a>
                                </div>

                            </div>

                        </div>

                    </section>
                }else{

                    <section class="trips-section col-md-8 with-margin">

                        <div class="row ">
                            <div class="col-md-2">
                                <a href="@routes.Application.travelPlanner()"><div class="btn btn-grove-one btn-lg"><i class="glyphicons plus"></i> Add travel request </div></a>
                            </div>
                            <div class="col-md-offset-2 col-md-8">
                                <input type="search" class="form-control input-lg search-input" placeholder="Search travel requests">
                            </div>
                        </div>

                        <div class="row with-margin">
                           <table class="table trips-table">
                               <caption></caption>
                               <thead>
                                   <tr>
                                       @if(user.exists(_.isAdmin)){
                                           <td>Client</td>
                                       }
                                       <td>Trips</td>
                                       <td>Departure Date</td>
                                       <td>Action</td>
                                   </tr>

                               </thead>
                               <tbody>

                               @for( plan <- currentUser.travelPlans) {


                                   <tr class="">
                                       @if(user.exists(_.isAdmin)){
                                           <td>@plan.user_id.name</td>
                                       }

                                       <td>
                                            <span class="city-name">@plan.trips.headOption.map(_.depart_location)</span> to <span class="city-name">@plan.trips.last.arrival_location</span>
                                           @if(!plan.trips.isEmpty){ (@{plan.trips.size} trips ) }
                                       </td>
                                       <td>@plan.trips.headOption.map(_.depart_date.format("MM/dd/yyyy"))</td>
                                       <td>
                                           @if(user.exists(_.isAdmin)){
                                               <a href="@routes.Application.travelResponse(Some(plan.id))" class="btn btn-grove-one">Respond</a>
                                           }else{
                                               <a href="@routes.Application.seeResponse(Some(plan.id))" class="btn btn-grove-one">See Response</a>
                                           }
                                            <a href="@routes.Application.travelPlanner(Some(plan.id))" class="btn btn-grove-one">Edit</a>
                                            <a href="@routes.Application.removePlan(Some(plan.id))" class="btn btn-grove-one">Remove</a>

                                       </td>
                                   </tr>

                               }

                               </tbody>
                           </table>

                        </div>

                    </section>

                }

                @views.html.RightSidebar.contactInfo()

            </div>
        </div>
    </div>
    }
}