@()
@main(pageTitle = "Travel Planner") {

    <div class="widewrapper">
	    <div class="container content">
	        <div class="row">

				<section id="contact-form" class="col-md-8 faq">
					<h2> Plan your travel </h2>
					<form action="#" method="get" accept-charset="utf-8" class="clearfix">


                        <div class="trip">
                            <a href="#trip1" class="accordion-toggle" data-toggle="collapse">Trip #<span class="trip-id">1</span></a>

                            <div id="trip1" class="accordion-collapse collapse in">
                                <div class="trip">

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="name"> Departure Location </label>
                                            <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="name"> Departure Date </label>
                                            <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="name"> Departure Time </label>
                                            <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="name"> Favorite Airline Companies </label>
                                            <select class="form-control input-lg airline-preferences" type="text"  name="name" multiple data-content='@routes.Assets.at("json/companies.json")' data-role="tagsinput">

                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="name"> Arrival Location </label>
                                            <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label for="name"> Additional Transportation </label>

                                            <label class="radio">
                                                <input class="additional-transportation rental" type="radio" value="rental" name="additional_transportation">
                                                    Rental
                                            </label>

                                            <label class="radio">
                                                <input class="additional-transportation taxi" type="radio" value="taxi" name="additional_transportation">
                                                    Taxi
                                            </label>

                                            <label class="radio">
                                                <input class="additional-transportation shuttle" type="radio" value="shuttle"  name="additional_transportation" >
                                                    Shuttle
                                            </label>

                                            <label class="radio">
                                                <input class="additional-transportation none" type="radio" value="none" name="additional_transportation" checked>
                                                    No, thanks.
                                            </label>

                                        </div>

                                        <div class="col-sm-8 form-group preferred-rental-company temp-hide">
                                            <label for="name"> Preferred Rental Company</label>
                                            <!-- TODO grab data from the database -->
                                            <select class="form-control input-lg" type="text" name="name" data-content='@routes.Assets.at("json/companies.json")' multiple data-role="tagsinput"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-12" for="name"> Hotel </label>

                                        <div class="col-sm-4 form-group">
                                            <label class=" checkbox">
                                                <input class="book-hotel" type="checkbox" name="hotel" data-display-trip-form="" value="">
                                                   Book a hotel?
                                            </label>
                                        </div>

                                        <div class="col-sm-8 form-group">
                                            <label for="name"> Preferences </label>

                                            <label for="name"> Checkout Date </label>
                                            <input class="form-control input-lg" type="text" name="name" value="" placeholder="">

                                            <label class="checkbox">
                                                <input class="" type="checkbox" name="hotel-meal" value="">
                                                    Must serve meal
                                            </label>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Comments </label>
                                <textarea class="form-control" id="message" name="message" rows="5"></textarea>
                            </div>
                        </div>


						<button type="submit" class="btn btn-grove-one btn-xlg btn-bold"> Send Message </button>

                    </form>
				</section>



	          @views.html.RightSidebar.contactInfo()

	        </div>
	    </div>
	</div>
}