@(tripRequest:Option[Trip_Request] = None, tripNumber:Int = 1, open:Boolean = true, hidden:Boolean = true)

 <div class="trip @if(hidden){ temp-hide }" data-number="@tripNumber">
    <div href="#trip@tripNumber" class="accordion-toggle @if(open){ open }else{ collapsed }" data-toggle="collapse">Trip #<span class="trip-number-id">@tripNumber</span></div>
 	<input type="hidden" name="trips[@{tripNumber - 1}].trip_id" value="@tripRequest.map(_.id)">
 	<input type="hidden" name="trips[@{tripNumber - 1}].trip_number" value="@{tripNumber - 1}">

    <div id="trip@tripNumber" class="accordion-collapse collapse @if(open){ in }">
        <div class="trip-content">

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="depart_location"> Departure Location </label>
                    <input class="form-control input-lg" type="text" id="depart_location" name="trips[@{tripNumber - 1}].depart_location" value="@tripRequest.map(_.depart_location)" placeholder="e.g San Diego - CA">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-6 form-group">
                    <label > Departure Date </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{tripNumber - 1}].depart_date" value="@tripRequest.map(_.depart_date)" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>

                </div>

                <div class="col-sm-6 form-group">
                    <label > Departure Time </label>
                    <div class="time-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="HH:mm PP" name="trips[@{tripNumber - 1}].depart_time" value="@tripRequest.map(_.depart_time)"type="text"></input>
                        <i class="input-date-icon glyphicons clock"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label > Favorite Airline Companies </label>
                    <select class="form-control input-lg airline-preferences" type="text"  name="trips[@{tripNumber - 1}].airline" multiple data-content='@routes.Assets.at("json/companies.json")' data-role="tagsinput">
                        <!-- TODO -->
                         @tripRequest.map{ trip =>
                             @trip.airlinesNames.map{ airlineName =>
                                 <option selected value="@airlineName"> @airlineName</option>
                             }
                        }

                    </select>

                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-6 form-group">
                    <label for="arrival_location"> Arrival Location </label>
                    <input class="form-control input-lg" type="text" id="arrival_location" name="trips[@{tripNumber - 1}].arrival_location" value="@tripRequest.map(_.arrival_location)" placeholder="e.g New York - NY">
                </div>

                <div class="col-sm-6 form-group">
                    <label> Arrival Time </label>
                    <div class="time-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="HH:mm PP"name="trips[@{tripNumber - 1}].arrival_time" value="@tripRequest.map(_.arrival_time)"type="text"></input>
                        <i class="input-date-icon glyphicons clock"></i>
                    </div>
                </div>
            </div>


            <div class="col-md-offset-0 row">

                <label class="col-sm-12" > Additional Transportation </label>

                <div class="col-sm-4 form-group">

                    <label class="radio">
                        <input @if(tripRequest.map(_.rental)){checked} class="additional-transportation rental display-trigger" type="radio" value="rental" name="trips[@{tripNumber - 1}].additional_transportation" data-display-trip-form=".form-group.preferred-rental-company" >
                            Rental
                    </label>

                    <label class="radio">
                        <input @if(tripRequest.map(_.taxi)){checked} class="additional-transportation taxi" type="radio" value="taxi" name="trips[@{tripNumber - 1}].additional_transportation">
                            Taxi
                    </label>

                    <label class="radio">
                        <input @if(tripRequest.map(_.shuttle)){checked} class="additional-transportation shuttle" type="radio" value="shuttle"  name="trips[@{tripNumber - 1}].additional_transportation" >
                            Shuttle
                    </label>

                    <label class="radio">
                        <input @if(!tripRequest.exists{_.isThereAdditionalTransportation}){checked} class="additional-transportation none" type="radio" value="none" name="trips[@{tripNumber - 1}].additional_transportation" >
                            No, thanks.
                    </label>

                </div>

                <div class="col-sm-8 form-group preferred-rental-company temp-hide">
                    <label > Preferred Rental Companies</label>
                    <select class="form-control input-lg" type="text" name="trips[@{tripNumber - 1}].pref_rental" data-content='@routes.Assets.at("json/companies.json")' multiple data-role="tagsinput"></select>
                </div>
            </div>

            <div class="col-md-offset-0 row">

                <div class="col-sm-4 form-group">
                    <label class=" checkbox">
                        <input class="book-hotel display-trigger" type="checkbox" name="trips[@{tripNumber - 1}].hotel" data-display-trip-form=".hotel-preferences"  @if(tripRequest.exists(_.hotel)){checked value="true"}else{value="false"}>
                           Book a hotel?
                    </label>
                </div>

                <div class="col-sm-8 form-group hotel-preferences @if(!tripRequest.exists(_.hotel)){temp-hide}">
                    <label > Checkout Date </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{tripNumber - 1}].checkout_date" value="@tripRequest.map(_.checkout_date)" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>

                    <label class="checkbox">
                        <input class="" type="checkbox" name="trips[@{tripNumber - 1}].hotel_meal" @if(tripRequest.exists(_.hotel)){checked value="true"}else{value="false"}>
                            Must serve meal
                    </label>
                </div>

            </div>


        </div>
    </div>
</div>
<hr/>
