@(clientRequest:Option[Client_Request] = None)(implicit user:Option[User])

<div href="#tripReturn" class="accordion-toggle open " data-toggle="collapse">Return</div>

<div id="tripReturn" class="accordion-collapse collapse in">

	<div class="row">
	    <div class="col-sm-12 form-group">
	        <label for="ret_location"> Return Location </label>
	        <input class="form-control input-lg" type="text" id="ret_location" name="ret_location" value="@clientRequest.map(_.ret_location)" placeholder="e.g Salt Lake City - UT">
	    </div>
	</div>

	<div class="row">
	    <div class="col-sm-6 form-group">
	        <label for="ret_date"> Return Date </label>
	        <input class="form-control input-lg" type="text" id="ret_date" name="ret_date" value="@clientRequest.map(_.ret_date)" placeholder="09/11/2015">
	    </div>
	    <div class="col-sm-6 form-group">
	        <label for="ret_time"> Return Time </label>
	        <input class="form-control input-lg" type="text" id="ret_time" name="ret_time" value="@clientRequest.map(_.ret_time)" placeholder="10:30pm">
	    </div>
	</div>

</div>

<hr/>