@()

<a href="#tripReturn" class="accordion-toggle open " data-toggle="collapse">Return</a>

<div id="tripReturn" class="accordion-collapse collapse in">

	<div class="row">
	    <div class="col-sm-12 form-group">
	        <label for="name"> Return Location </label>
	        <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
	    </div>
	</div>

	<div class="row">
	    <div class="col-sm-6 form-group">
	        <label for="name"> Return Date </label>
	        <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
	    </div>
	    <div class="col-sm-6 form-group">
	        <label for="name"> Return Time </label>
	        <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="">
	    </div>
	</div>

</div>

<hr/>