@(tripRequest:Option[Trip_Request] = None, tripNumber:Int = 1, open:Boolean = true, hidden:Boolean = true)

 <div class="trip @if(hidden){ temp-hide }" data-number="@tripNumber">
    <a href="#trip@tripNumber" class="accordion-toggle @if(open){ open }else{ collapsed }" data-toggle="collapse">Trip #<span class="trip-number-id">@tripNumber</span></a>

    <div id="trip@tripNumber" class="accordion-collapse collapse @if(open){ in }">
        <div class="trip-content">

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name"> Departure Location </label>
                    <input class="form-control input-lg" type="text" id="name" name="depart_location" value="" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="name"> Departure Date </label>
                    <input class="form-control input-lg" type="text" id="name" name="depart_date" value="" placeholder="">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="name"> Departure Time </label>
                    <input class="form-control input-lg" type="text" id="name" name="depart_time" value="" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name"> Favorite Airline Companies </label>
                    <select class="form-control input-lg airline-preferences" type="text"  name="airline" multiple data-content='@routes.Assets.at("json/companies.json")' data-role="tagsinput">

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="name"> Arrival Location </label>
                    <input class="form-control input-lg" type="text" id="name" name="arrival_location" value="" placeholder="">
                </div>
            </div>


            <div class="row">

                <label class="col-sm-12" for="name"> Additional Transportation </label>

                <div class="col-sm-4 form-group">

                    <label class="radio">
                        <input class="additional-transportation rental display-trigger" type="radio" value="rental" name="additional_transportation" data-display-trip-form=".form-group.preferred-rental-company" >
                            Rental
                    </label>

                    <label class="radio">
                        <input class="additional-transportation taxi" type="radio" value="taxi" name="additional_transportation">
                            Taxi
                    </label>

                    <label class="radio">
                        <input class="additional-transportation shuttle" type="radio" value="shuttle"  name="additional_transportation" >
                            Shuttle
                    </label>

                    <label class="radio">
                        <input class="additional-transportation none" type="radio" value="none" name="additional_transportation" checked>
                            No, thanks.
                    </label>

                </div>

                <div class="col-sm-8 form-group preferred-rental-company temp-hide">
                    <label for="name"> Preferred Rental Companies</label>
                    <!-- TODO grab data from the database -->
                    <select class="form-control input-lg" type="text" name="pref_rental" data-content='@routes.Assets.at("json/companies.json")' multiple data-role="tagsinput"></select>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4 form-group">
                    <label class=" checkbox">
                        <input class="book-hotel display-trigger" type="checkbox" name="hotel" data-display-trip-form=".hotel-preferences" value="">
                           Book a hotel?
                    </label>
                </div>

                <div class="col-sm-8 form-group hotel-preferences temp-hide">
                    <label for="name"> Checkout Date </label>
                    <input class="form-control input-lg" type="text" name="checkout_date" value="" placeholder="">

                    <label class="checkbox">
                        <input class="" type="checkbox" name="hotel-meal" value="">
                            Must serve meal
                    </label>
                </div>

            </div>


        </div>
    </div>
</div>

<hr/>
