@(clientRequest:Option[Client_Request] = None)(implicit user:Option[User])

<div href="#tripReturn" class="accordion-toggle open " data-toggle="collapse">Return</div>

<div id="tripReturn" class="accordion-collapse collapse in">

	<div class="row">
	    <div class="col-sm-12 form-group">
	        <label for="ret_location"> Return Location </label>
	        <input class="form-control input-lg" type="text" id="ret_location" name="ret_location" value="@clientRequest.map(_.ret_location)" placeholder="e.g Salt Lake City - UT">
	    </div>
	</div>

	<div class="row">
	    <div class="col-sm-6 form-group">
	        <label> Return Date </label>
            <div class="date-picker" class="input-append">
                <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="ret_date" value="@clientRequest.map(_.ret_date)" type="text"></input>
                <i class="input-date-icon glyphicons calendar"></i>
            </div>
	    </div>

	    <div class="col-sm-6 form-group">
	        <label> Return Time </label>
            <div class="time-picker" class="input-append">
                <input readonly class="form-control input-lg add-on" data-format="HH:mm PP" name="ret_time" value="@clientRequest.map(_.ret_time)" type="text"></input>
                <i class="input-date-icon glyphicons clock"></i>
            </div>
	    </div>
	</div>

</div>

<hr/>