@()
<section id="contact-details" class="col-md-4 with-margin">

    <div class="detail-block">

		<h3> Char Black, CET Services Inc. </h3>
			<p>
			    I am here to provide you exceptional service 24 hours a day, seven days a week.
			</p>
		</div>

    <div class="detail-block">

        <h3> Contact Info </h3>

        <div class="info-block">

            <i class="glyphicons envelope"></i>

            <div class="info">
                <h5> Email Address: </h5>
                <p> jcharleneblack&#64;gmail.com </p>
                <p> cetservicesinc&#64;gmail.com </p>
            </div>

        </div>

        <div class="info-block">

            <i class="glyphicons headset"></i>

            <div class="info">
                <h5> Telephone: </h5>
                <p> (435) 669-3528 </p>
            </div>

        </div>

        <div class="info-block">
            <i class="social skype"></i>
            <div class="info">
                <h5>Skype:</h5>
                <p>jcharleneblack</p>
            </div>
        </div>

        <div class="info-block">

            <i class="glyphicons clock"></i>

            <div class="info business-hours">
                <h5> Business Hours: </h5>
                <p> 24 Hours a Day, Seven Days a Week </p>
            </div>

        </div>

    </div>

</section>

