<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>CET</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="css/vendor/bootstrap/bootstrap.css">

    <!-- Glyphicons -->
    <link rel="stylesheet" href="css/vendor/glyphicons/glyphicons.css">
    <link rel="stylesheet" href="css/vendor/glyphicons/filetypes.css">
    <link rel="stylesheet" href="css/vendor/glyphicons/social.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

    <!-- LayerSlider styles -->
    <link rel="stylesheet" href="css/vendor/layerslider/layerslider.css" type="text/css">

    <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
    <link rel="stylesheet" href="css/styles-blue.css" id="grove-styles">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">        
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery/jquery-1.9.1.min.js"><\/script>')</script>
    <!-- jQuery with jQuery Easing, and jQuery Transit JS -->
     
    <!-- LayerSlider from Kreatura Media with Transitions -->
    <script src="js/vendor/layerslider/greensock.js" type="text/javascript"></script>
    <script src="js/vendor/layerslider/layerslider.transitions.js" type="text/javascript"></script>
    <script src="js/vendor/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Grove Layerslider initiation script -->
    <script src="js/grove-slider.js" type="text/javascript"></script>
    
</head> 
<body>
    <header>
        <script type="text/javascript" src="js/header.js"></script>
    </header>

    <!--LayerSlider begin-->

    <!-- Note: Layerslider is configured in js/grove-slider.js -->
    <div class="hidden-xs">
        <div id="layerslider" style="width: 100%; height: 405px; margin: 0px auto;">
            <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="img/slides/bg-five.jpg" alt="Slider Background">

                <img  class="ls-l" src="img/slider/slcDelta.jpg" alt="iMac" 
                      style="top:15px; left:650px;"
                      data-ls=" durationin : 2000; delayin : 0; offsetxin: right;  offsetxout: right; ">

                <div class="ls-l large-caption" 
                     style="top:120px; left:20px;"
                     data-ls="delayin: 750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Concierge Executive Travel:</p></div>
                    <div><p>Personal and Attentive Services 24/7</p></div>
                    <div>
                        <p>No Other Contracts</p>
                    </div>
                </div>
            </div>

            <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="img/slides/bg-one.jpg" alt="Slider Background">

                <img  class="ls-l" src="img/slider/southwest.jpg" alt="iMac" 
                      style="top:50px; left:50px;"
                      data-ls=" durationin : 2000; delayin : 0; offsetxin: left;  offsetxout: left;">
                <!--<img  class="ls-l" src="img/index/marriottLogo.png" alt="MacBook" 
                      style="top:190px; left:250px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: 300; offsetyin: 300; offsetxout: left;"> -->
                <img  class="ls-l" src="img/index/deltaAppLogo.png" alt="iPad" 
                      style="top:210px; left:0px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: -300; offsetyin: 300; offsetxout: left;">
                <img  class="ls-l" src="img/index/marriottLogo.png" alt="iPhone" 
                      style="top:265px; left:160px;"
                      data-ls="durationin : 2000; durationout: 2000; delayin : 300; offsetxin: 0; offsetyin: 300; offsetxout: left;">

                <div class="ls-l large-caption" 
                     style="top:130px; left:700px;"
                     data-ls="delayin:750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Use Preferred Airline</p></div>
                    <div><p>and Hotels</p></div>
                </div>

            </div>   

             <div class="ls-slide" data-ls="transition2d:5;">
                <img class="ls-bg" src="img/slides/bg-three.jpg" alt="Slider Background">

                <img  class="ls-l" src="img/slider/takeOff.jpg" alt="MB Air" 
                      style="top:25px; left:50px;"
                      data-ls="durationin: 2500; offsetxin: left; offsetxout: left;">

                <div class="ls-l large-caption" 
                     style="top:150px; left:750px;"
                     data-ls="delayin: 750; offsetxin: 0; offsetxout: 0;">
                    <div><p>Integrate Your Own Personal</p></div>
                    <div><p>Point and Preferred</p></div>
                    <div><p>Programs</p></div>
                </div>
            </div>
        </div>
    </div>
    
    <!--LayerSlider end-->

    <!-- Layerslider substitute on x-small devices -->
    <div class="widewrapper pagetitle visible-xs">
        <div class="container">
            <h1>Welcome to CET!</h1>        
        </div>
    </div> 

    <div class="widewrapper">
        <div class="container">
            <div class="row features">
                <div class="col-md-4 feature">
                    <h3><a class="glyphicons tint"></a>For the Discerning Executive</h3>
                    <p>My focus is on the discerning executive, not the mass traveler.</p>
                </div>
                <div class="col-md-4 feature">
                    <h3><i class="social skitch"></i>24/7 Attentive Service</h3>
                    <p>Your individual itinerary will be created, implemented, and monitored at all stages by me, providing a consistent and predictive interface.</p>
                </div>
                <div class="col-md-4 feature">
                    <h3><i class="filetype html"></i>Travel Based on Your Preference</h3>
                    <p>Your preferred travel programs will be utilized to the fullest, securing all available amenities aligned with your travel preferences and objectives, creating a truly customized travel experience.</p>
                </div>        
            </div>
        </div>
    </div>

    <!--<div class="widewrapper weak-highlight">
        <div class="container content">
            <div class="showroom-controls">
                <div class="links">Recent Work <i class="verticalSeparator"></i> <a href="portfolio.html">All Work</a></div>
            </div>
            <div class="row">
                <div class="showroom-item col-sm-3">
                    <div class="image">
                        <img src="img/portfolio/port-server.png" class="img-responsive" alt="Portfolio Image">
                        <a class="overlay" href="portfolio-inner.html">
                             <i class="glyphicons search"></i>
                             <div class="name">Server Security</div>
                        </a>
                    </div>
                </div>
                <div class="showroom-item col-sm-3">
                    <div class="image">
                        
                        <img src="img/portfolio/port-code.png" class="img-responsive" alt="Portfolio Image">
                        <a class="overlay" href="portfolio-inner.html">
                             <i class="glyphicons search"></i>
                             <div class="name">Code Review</div>
                        </a>
                    </div>
                </div>
                <div class="showroom-item col-sm-3">
                    <div class="image">
                        <img src="img/portfolio/port-storage.png" class="img-responsive" alt="Portfolio Image">
                         <a class="overlay" href="portfolio-inner.html">
                             <i class="glyphicons search"></i>
                             <div class="name">Storage Consulting</div>
                         </a>
                    </div>
                </div>                
                <div class="showroom-item col-sm-3">
                    <div class="image">
                        <img src="img/portfolio/port-car.png" class="img-responsive" alt="Portfolio Image">  
                         <a class="overlay" href="portfolio-inner.html">
                             <i class="glyphicons search"></i>
                             <div class="name">Blue Car</div>                         
                         </a>
                    </div>
                </div>                        
            </div>

            <div class="clearfix"></div>
        </div>
    </div> -->

    <div class="widewrapper">
        <div class="container content">
            <div class="row">
               <!-- <div class="col-sm-9">
                    <div class="showroom-controls">
                        <div class="links">Recent Blog Posts <i class="verticalSeparator"></i> <a href="blog.html">All Blog Posts</a></div>
                    </div>
                    <div class="row">
                        <div class="showroom-item blog-item col-sm-4">
                            <div class="image">
                                <img src="img/blog/blog-map.png"  class="img-responsive" alt="Blog Thumbnail">
                                 <a href ="blog-inner.html" class="overlay">
                                     <i class="glyphicons search"></i>
                                 </a>
                            </div>
                            <div class="content">
                                <h3><a href="blog-inner.html">The Merits of Google Maps</a></h3>
                                <span class="meta">Posted by Admin on 1.1.2013</span>
                                <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                                </span>
                                <a class="more" href="blog-inner.html">View more</a>
                            </div>
                        </div>
                        <div class="showroom-item blog-item col-sm-4">
                            <div class="image">
                                <img src="img/blog/blog-boat.png" class="img-responsive" alt="Blog Thumbnail">
                                 <a href ="blog-inner.html" class="overlay">
                                     <i class="glyphicons search"></i>
                                 </a>
                            </div>
                            <div class="content">
                                <h3><a href="blog-inner.html">Sailing on Course</a></h3>
                                <span class="meta">Posted by Admin on 1.1.2013</span>
                                <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                                </span>
                                <a class="more" href="blog-inner.html">View more</a>
                            </div>
                        </div>

                        <div class="showroom-item blog-item col-sm-4">
                            <div class="image">
                                <img src="img/blog/blog-pad.png" class="img-responsive" alt="Blog Thumbnail">
                                 <a href ="index.html" class="overlay">
                                     <i class="glyphicons search"></i>
                                 </a>
                            </div>
                            <div class="content">
                                <h3><a href="blog-inner.html">Mouse versus Pen</a></h3>
                                <span class="meta">Posted by Admin on 1.1.2013</span>
                                <span class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequuntur blanditiis fuga eveniet? Aperiam, beatae, recusandae.
                                </span>
                                <a class="more" href="blog-inner.html">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div> -->

               <div class="col-sm-3">
                    <div class="showroom-controls">
                        <div class="links">Testimonials</div>
                        <div class="controls">
                            <a class="left" href="#testimonials-carousel" data-slide="prev"></a>
                            <a class="right" href="#testimonials-carousel" data-slide="next"></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div id="testimonials-carousel" class="carousel slide testimonials">
                                 <!-- Carousel items -->
                                 <div class="carousel-inner">
                                    <div class="active item testimonial-item">
                                        <div class="bubble">
                                            "Char is the best!"
                                        </div>
                                        <div class="client"><a href="#"> Michael B.</a>, The Creative Group</div>
                                    </div>
                                    <div class="item testimonial-item">
                                        <div class="bubble">
                                            "Char just has a knack at travel planning. Very good service."
                                        </div>
                                        <div class="client"><a href="#"> Alex R.</a>, The Coding Group</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>       
            </div>
        </div>
    </div>

    <div class="widewrapper weak-highlight">
        <div class="container content our-clients">
            <div class="showroom-controls">
                <div class="links">Our clients</div>
            </div>
            <div class="clients">
                <div class="client"><img src="img/logos/logo1.png" class="img-responsive" alt="A Bright Idea"></div>
                <div class="client"><img src="img/logos/logo2.png" class="img-responsive" alt="U Read"></div>
                <div class="client"><img src="img/logos/logo3.png" class="img-responsive" alt="Drop"></div>
                <div class="client"><img src="img/logos/logo4.png" class="img-responsive" alt="Alaska Anchor"></div>
            </div>
        </div>
    </div>  

    <div class="widewrapper strong-highlight">
        <div class="container calltoaction">
            <span>Ready for your own concierge executive travel experience?</span>
            <a href="login.html" class="btn btn-grove-one btn-xlg btn-bold">Get Started Now!</a>
        </div>
    </div>

    <footer class="widewrapper footer">
        <script type="text/javascript" src="js/footer.js"></script>
    </footer>

    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/modernizr/modernizr.js"></script>
</body>
</html>