@()
<footer class="widewrapper footer">
    <div class="container">
        <div class="row footer">
            <div class="col-sm-3">
                <h4>Concierge Executive Travel Services</h4>
                <p>Personal and exclusive travel-planning for the discerning executive</p>
            </div>
            <div class="col-sm-3">
                <div class="indent30">
                <h4>External Links</h4>
                <ul class="grove-list">
                    <li><a href="https://www.delta.com">Delta Airlines</a></li>
                    <li><a href="https://www.united.com">United Airlines</a></li>
                    <li><a href="https://www.marriott.com">Marriott</a></li>
                    <li><a href="https://www.starwoodhotels.com/">Starwood Hotels and Resorts</a></li>
                </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <h4>The Mission of CET Services</h4>
                <p>24/7 Attentive Services</p>
                <p>Integrate Preferred Programs</p>
                <p>Exclusive, Singular Point of Contact</p>
            </div>

            <div class="col-sm-3">
                <h4>Connect</h4>
                <!--a href="#" class="social facebook"></a!-->
                <!--a href="#" class="social twitter"></a!-->
                <a href="cetservicesinc&#64;gmail.com" target="_top" class="social e-mail"></a>
                <a href="https://plus.google.com/u/0/107132998150773057986/about" class="social google_plus" target="_blank"></a>
                <!--a href="#" class="social linked_in"></a!-->
            </div>

            <!--div class='container'>
                <div class='copyright'>
                    <p>Designed by Leandro Miranda, Maria Yacaman, Alex Murray, Tahna Black</p>
                </div!-->

            </div>
        </div>
    </div>

</footer>