@(pageTitle: String)(implicit user:Option[User])
<header>
    <nav class='navbar navbar-default grove-navbar' role='navigation'>
         <div class='container'>
             <div class='navbar-header'>
                 <a href='#' class='grove-toggle' data-toggle='collapse' data-target='.grove-nav'>   <i class='glyphicons show_lines'></i>  </a>
                 <a href="@routes.Application.landingPage()" class='navbar-brand'><img src='@routes.Assets.at("images/cetLogo.png")' alt='CET'></a>
             </div>
             <div class='collapse navbar-collapse grove-nav'>
                 <ul class='nav navbar-nav'>

                    <li class='inactive'> <a href="@routes.Application.landingPage()">Home</a> </li>

                    <li class='dropdown'>
                        <a href='#' data-toggle='dropdown'>About CET Services <b class='caret'></b></a>
						<ul class='dropdown-menu'>
							<li><a href="@routes.Application.aboutus()">About Us</a></li>
                            <li><a href="@routes.Application.faq()">FAQ</a></li>
						</ul>
                     <li class='inactive'> <a href="@routes.Application.dashboard()">My Travel Plans</a> </li>
                        @if(user.isDefined){
							<li class='active'>Logged as @user.get.name (<a class="logout-link" href="@routes.Authentication.logout()"> Logout </a>)</li>
                        }else{
		                     <li class='inactive'>
		                         <a href="@routes.Authentication.login()">Login/Sign Up</a>
		                     </li>
                        }
                 </ul>
             </div>
         </div>
     </nav>
        <div class="widewrapper pagetitle">
            <div class="container">
                <h1>@pageTitle</h1>
            </div>
        </div>
 </header>