@(loginForm: Option[Form[(String,String)]] = None)(userForm: Option[Form[models.User]] = None)(implicit flash: Flash = Flash() )

@import views.html.helper._

@main(pageTitle = "Login / Sign Up"){

<div class="widewrapper">
    <div class="container login">

    <div class="col-md-6">
        <h2>Login to your Account</h2>
        <p>
            Please fill out the text fields below.
        </p>

        @form(routes.Authentication.authenticate) {

        <form action="#"  method="get" >
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    @loginForm.map{ loginF =>
                        @loginF.globalError.map { error =>
		                    <div class="alert bg-danger">
		                        <a class="close" data-dismiss="alert">x</a>
		                        @error.message
		                    </div>
                        }
                    }

                    @flash.get("success").map { message =>
                        <div class="alert bg-info">
                            <a class="close" data-dismiss="alert">x</a>
                            @message
                        </div>
                    }

                    <div>
                        <label for="email">Email Address</label>
                        <input class="form-control input-lg" type="email" id="emailLogin" name="email" value="" placeholder="">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input class="form-control input-lg" type="password" id="passwordLogin"  name="password" value="" placeholder="">
                    </div>
                </div>
             </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button class="btn btn-grove-one btn-lg btn-bold" type="submit">Log In</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    }



    <div class="col-md-6 bordered-left">
        <h2>Create your Account</h2>
        <p>
            Please fill out the text fields below.
        </p>

        @form(routes.Authentication.register) {

        <form action="#"  method="get" >
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    @userForm.map{ form =>
                        <div class="alert bg-danger">
                            <a class="close" data-dismiss="alert">x</a>
                            @form.error("name").map{ error => <p>Please enter your name</p> }
                            @form.error("password").map{ error => <p>Password must contain at least 8 characters</p>  }
                            @form.error("phone").map{ error => <p>Phone must contain 10 digits</p>  }
                            @form.error("email").map{ error => <p>Please enter your email</p>  }
                         </div>

                        @form.globalError.map { error => _.message }
                    }

                    @flash.get("success").map { message =>
                        <div class="alert bg-info">
                            <a class="close" data-dismiss="alert">x</a>
	                        @message


	                    </div>
                    }

                    <div>
                        <label for="name">Name</label>
                        <input class="form-control input-lg" type="name" id="name" name="name" value="" placeholder="">
                    </div>
                    <div>
                        <label for="phone">Phone</label>
                        <input class="form-control input-lg" type="phone" id="phone" name="phone" value="" placeholder="">
                    </div>
                    <div>
                        <label for="email">Email Address</label>
                        <input class="form-control input-lg" type="email" id="email" name="email" value="" placeholder="">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input class="form-control input-lg" type="password" id="password"  name="password" value="" placeholder="">
                    </div>
                    <div>
                        <label for="password-repeat">Confirm Password</label>
                        <input class="form-control input-lg" type="password" id="password-repeat" name="password-repeat" value="" placeholder="">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button class="btn btn-grove-one btn-lg btn-bold" type="submit">Sign up</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

}

    </div>
</div>

}