@( pageTitle: String = "Page Title")(content: Html)(implicit user:Option[User] = None)

<!DOCTYPE html>

<html>
    <head>
        <title>@pageTitle</title>
        <meta charset="utf-8">
        <meta name="description" content="travel agency">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon2.ico")">

        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/bootstrap/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tagsinput/bootstrap-tagsinput.css")">

        <!-- Glyphicons -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/glyphicons/glyphicons.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/glyphicons/filetypes.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/glyphicons/social.css")">

        <!-- Google Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

        <!-- LayerSlider styles -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/layerslider/layerslider.css")" type="text/css">


        <!-- Grove Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles-blue.css")" id="grove-styles">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/layerslider/skins/grove/skin.css")" type="text/css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vendor/bootstrap-datetimepicker.min.css")" type="text/css">

	    <!--[if lt IE 9]>
	        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ie8.css")">
	        <script src="@routes.Assets.at("javascript/vendor/google/html5-3.6-respond-1.1.0.min.js")"></script>
	    <![endif]-->

        <!-- Libs -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@routes.Assets.at("javascript/vendor/jquery/jquery-1.9.1.min.js")><\/script>')</script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" ></script>
        <script src="@routes.Assets.at("javascript/vendor/typeahead.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/tagsinput/bootstrap-tagsinput.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/angra.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascript/grove-slider.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascript/vendor/layerslider/greensock.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/layerslider/layerslider.transitions.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/layerslider/layerslider.kreaturamedia.jquery.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascript/faq.js")" type="text/javascript"></script>


    </head>
    <body>
        @header(pageTitle)

        @content

        @footer()

        <script src="@routes.Assets.at("javascript/vendor/bootstrap/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascript/vendor/modernizr/modernizr.js")"></script>
    </body>
</html>
